description = "Newsletters"

[viewBag]
snippetCode = "newsletters"
snippetName = "Newsletters"
==
<div class="row">
    <div class="col-lg-2 col-md-3 col-6 text-center">
        <a href="{{ 'newsletters/december2018.pdf'|media }}" target="_blank">
            <img src="{{ 'icons/file-text.svg'|media }}" class="w-75">
            <p>December 2018</p>
        </a>
    </div>
    
    <div class="col-lg-2 col-md-3 col-6 text-center">
        <a href="{{ 'newsletters/summer2018.pdf'|media }}" target="_blank">
            <img src="{{ 'icons/file-text.svg'|media }}" class="w-75">
            <p>Summer 2018</p>
        </a>
    </div>
</div>