description = "Policies"

[viewBag]
snippetCode = "policies"
snippetName = "Policies"
==
<div class="row">
    <div class="col-lg-2 col-md-3 col-6 text-center">
        <a href="{{ 'policies/admissions2018-19.pdf'|media }}" target="_blank">
            <img src="{{ 'icons/file-text.svg'|media }}" class="w-75">
            <p>Admissions 2018/19</p>
        </a>
    </div>
    
    <div class="col-lg-2 col-md-3 col-6 text-center">
        <a href="{{ 'policies/admissions2019-20.pdf'|media }}" target="_blank">
            <img src="{{ 'icons/file-text.svg'|media }}" class="w-75">
            <p>Admissions 2019/20</p>
        </a>
    </div>
    
    <div class="col-lg-2 col-md-3 col-6 text-center">
        <a href="{{ 'policies/anti-bullying.pdf'|media }}" target="_blank">
            <img src="{{ 'icons/file-text.svg'|media }}" class="w-75">
            <p>Anti-bullying</p>
        </a>
    </div>
    
    <div class="col-lg-2 col-md-3 col-6 text-center">
        <a href="{{ 'policies/behaviour-management.pdf'|media }}" target="_blank">
            <img src="{{ 'icons/file-text.svg'|media }}" class="w-75">
            <p>Behaviour Management</p>
        </a>
    </div>
    
    <div class="col-lg-2 col-md-3 col-6 text-center">
        <a href="{{ 'policies/complaints-procedure.pdf'|media }}" target="_blank">
            <img src="{{ 'icons/file-text.svg'|media }}" class="w-75">
            <p>Complaints Procedure</p>
        </a>
    </div>
    
    <div class="col-lg-2 col-md-3 col-6 text-center">
        <a href="{{ 'policies/exclusions.pdf'|media }}" target="_blank">
            <img src="{{ 'icons/file-text.svg'|media }}" class="w-75">
            <p>Exclusions</p>
        </a>
    </div>
    
    <div class="col-lg-2 col-md-3 col-6 text-center">
        <a href="{{ 'policies/health-and-safety.pdf'|media }}" target="_blank">
            <img src="{{ 'icons/file-text.svg'|media }}" class="w-75">
            <p>Health and Safety</p>
        </a>
    </div>
    
    <div class="col-lg-2 col-md-3 col-6 text-center">
        <a href="{{ 'policies/parent-pupil-consent-form.pdf'|media }}" target="_blank">
            <img src="{{ 'icons/file-text.svg'|media }}" class="w-75">
            <p>Parent and Pupil Consent Form</p>
        </a>
    </div>
    
    <div class="col-lg-2 col-md-3 col-6 text-center">
        <a href="{{ 'policies/prevention.pdf'|media }}" target="_blank">
            <img src="{{ 'icons/file-text.svg'|media }}" class="w-75">
            <p>Prevention</p>
        </a>
    </div>
    
    <div class="col-lg-2 col-md-3 col-6 text-center">
        <a href="{{ 'policies/privacy-notice.pdf'|media }}" target="_blank">
            <img src="{{ 'icons/file-text.svg'|media }}" class="w-75">
            <p>Privacy Notice</p>
        </a>
    </div>
    
    <div class="col-lg-2 col-md-3 col-6 text-center">
        <a href="{{ 'policies/remissions-and-charging.pdf'|media }}" target="_blank">
            <img src="{{ 'icons/file-text.svg'|media }}" class="w-75">
            <p>Remissions and Charging</p>
        </a>
    </div>
    
    <div class="col-lg-2 col-md-3 col-6 text-center">
        <a href="{{ 'policies/safeguarding.pdf'|media }}" target="_blank">
            <img src="{{ 'icons/file-text.svg'|media }}" class="w-75">
            <p>Safeguarding and Child Protection</p>
        </a>
    </div>
    
    <div class="col-lg-2 col-md-3 col-6 text-center">
        <a href="{{ 'policies/special-educational-needs-and-disability.pdf'|media }}" target="_blank">
            <img src="{{ 'icons/file-text.svg'|media }}" class="w-75">
            <p>Special Educational Needs and Disability (SEND)</p>
        </a>
    </div>
</div>