description = "Items promoted on the home page"

[viewBag]
==
<div class="col-md-6 mb-4">
    <div class="card h-100 shadow">
        <div class="card-top-img">
            <img src="{{ 'images/placeholder.jpg'|media }}" class="w-100">
        </div>
        
        <div class="card-body">
            <h5 class="card-title">New Promoted item</h5>
        </div>
        
        <div class="card-footer text-right">
            <a href="" class="btn btn-primary btn-sm">Read More</a>
        </div>
    </div>
</div>

<div class="col-md-6 mb-4">
    <div class="card h-100 shadow">
        <div class="card-top-img">
            <img src="{{ 'images/placeholder.jpg'|media }}" class="w-100">
        </div>
        
        <div class="card-body">
            <h5 class="card-title">New Thingy</h5>
        </div>
        
        <div class="card-footer text-right">
            <a href="" class="btn btn-primary btn-sm">Read More</a>
        </div>
    </div>
</div>