description = "Main navigation"

[viewBag]
==
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" data-target="collapse" id="main-navigation">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-items">
        <i class="fas fa-bars"></i>
    </button>
    
    <div id="menu-items" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown">Our School</a>
                <div class="dropdown-menu">
                    {% partial 'menus/school' %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown">Subjects</a>
                <div class="dropdown-menu">
                    {% partial 'menus/subjects' %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown">Parents</a>
                <div class="dropdown-menu">
                    {% partial 'menus/parents' %}    
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown">Students</a>
                <div class="dropdown-menu">
                    {% partial 'menus/students' %}                
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown">Community</a>
                <div class="dropdown-menu">
                    {% partial 'menus/community' %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vacancies">Vacancies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact-us">Contact Us</a>
            </li>
        </ul>
        <hr class="bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://www.progresso.net">Progresso</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://hollingworth.fireflycloud.net">VLE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.wisepay.co.uk/schools/greatermanchester/HollingworthBusinessandEnterpriseCollege/wisepay.htm">WisePay</a>
            </li>
        </ul>
    </div>
</nav>