description = "Default layout"

[staticPage]
useContent = 1
default = 0
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ this.page.title }}</title>
        <link rel="stylesheet" href="{{ 'assets/css/vendor.css'|theme }}" type="text/css">
        <link rel="stylesheet" href="{{ 'assets/css/theme.css'|theme }}" type="text/css">
        {% styles %}
    </head>
    <body>
        {% partial 'layout/navigation.htm' %}
        {% partial 'layout/header.htm' %}
        
        <main id="page-content">
            <div class="container">
                {% placeholder pageTitle default ignore=true %}<h1>{{ this.page.title }}</h1>{% endplaceholder %}
                {% page %}                
            </div>
        </main>
        
        {% partial 'layout/footer.htm' %}
        {% partial 'layout/flash.htm' %}
    
        <script src="{{ 'assets/js/vendor.js'|theme }}"></script>
        <script src="{{ 'assets/js/theme.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>