[viewBag]
==
<a class="dropdown-item" href="/subjects/english">English</a>
<a class="dropdown-item" href="/subjects/mathematics">Mathematics</a>
<a class="dropdown-item" href="/subjects/science">Science</a>
<a class="dropdown-item" href="/subjects/computing-and-it">Computing &amp; Information Technology</a>
<hr>
<a class="dropdown-item" href="/subjects/art-and-design">Art and Design</a>
<a class="dropdown-item" href="/subjects/business-studies">Business Studies</a>
<a class="dropdown-item" href="/subjects/design-and-technology">Design and Technology</a>
<a class="dropdown-item" href="/subjects/drama-and-dance">Drama and Dance</a>
<a class="dropdown-item" href="/subjects/food-technology">Food Technology</a>
<a class="dropdown-item" href="/subjects/geography">Geography</a>
<a class="dropdown-item" href="/subjects/history">History</a>
<a class="dropdown-item" href="/subjects/media-studies">Media Studies</a>
<a class="dropdown-item" href="/subjects/modern-foreign-languages">Modern Foreign Languages</a>
<a class="dropdown-item" href="/subjects/music">Music</a>
<a class="dropdown-item" href="/subjects/physical-education">Physical Education</a>
<a class="dropdown-item" href="/subjects/religious-education">Religious Education</a>
<a class="dropdown-item" href="/subjects/learning-resource-centre">Learning Resource Centre</a>